body{
    background-image: url(pool.JPG);
    background-size: cover;
    background-repeat: no-repeat;
   
}
li {
    counter-increment: li;
    display: list-item;
    text-transform: capitalize;
   
}
  
  li::marker {
    display: list-item;
    content:url(ball.png) "Joueur " counter(li) " "; 
    color: red;
    font-weight: bold;
  }

li button{
 margin-left: 10px;
}